[pylint]
disable=
    arguments-renamed,
    attribute-defined-outside-init,
    bad-option-value,
    broad-except,
    consider-using-f-string,
    consider-using-in,
    consider-using-with,
    empty-docstring,
    exec-used,
    expression-not-assigned,
    f-string-without-interpolation,
    import-error,
    inconsistent-return-statements,
    invalid-name,
    line-too-long,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-else-break,
    no-self-use,
    redefined-outer-name,
    simplifiable-if-expression,
    super-with-arguments,
    superfluous-parens,
    too-many-branches,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-public-methods,
    too-many-statements,
    trailing-newlines,
    unspecified-encoding,
    unused-argument,
    unused-import,
    unused-variable,
    useless-object-inheritance,
    useless-return,
good-names=
    template-python
ignore=
    __init__.py,
notes=
    FIXME,
